[Unit]
Description=farmjenny_gpio
After=sysinit.target
ConditionPathExists=/usr/local/bin/farmjenny

[Service]
Type=oneshot
WorkingDirectory=/usr/local/bin/farmjenny
ExecStart=/bin/bash farmjenny_gpio.sh
Restart=no

[Install]
WantedBy=multi-user.target
Alias=farmjenny_gpio.service