[Unit]
Description=Disconnect Modem

[Service]
ExecStart=/bin/true
ExecStop=/usr/local/bin/farmjenny/farmjenny_shutdown.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target